
body {
    background-color: #fff893; 
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none; 
}

img {
    width: 100%; 
    padding-left: 100px;
    border: 10%;
}

h1 {
    text-align: center; 
    font-size: 35px; 
    text-transform: uppercase;
}

h2 {
    text-align: right;
    font-size: 30px;
}

p {
    width: 430px;
    margin-bottom: 100px;
    text-align: right;  
}

h3 {
    color: white;
    text-align: center; 
    font-size: 35px; 
    text-transform: uppercase;
    background-color: black;
    padding: 20px;
    margin-top: 0px;
   
}

.margem {
    margin: 5px;
}

.conteudo {
    width: 45%;
    display: inline-block;
}

.imagem {
    width: 45%;
    display: inline-block;
}

.sobre {
   width: 960px;
   margin: 0 auto; 
   margin-top: 50px;
}

.botoes {
    text-align: right; 
}

.caixa {
    padding: 10px 12px;
    font-size: 16px;
}

.caixa_preta {
    background-color: black;
    color: white; 
}

.caixa_transparente {
    color: black;
    border: 1px solid black; 
}